# Ignore the packages directory
/packages/


# Ignore Logs
logs
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Ignore the build directory
/Catrige_DB/bin/
/Catrige_DB/obj/
/.vs/

# Executables
*.exe
*.out
*.app